<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  

  <!--<connectionStrings>
    <add name="MesProd"
      connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.234.80.155)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=t05dev01)));User Id=pkgmes;Password=pkgmes;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="MesHist"
      connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=T05HIS01)(PORT=1531))(CONNECT_DATA=(SERVICE_NAME=T05HIS01)));User Id=pkgrpt_ap;Password=rpt$520;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  </connectionStrings>-->
</configuration>